<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/paw.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet" />
    <title>Ozzy</title>
    <script type="module" crossorigin src="/assets/index-CyU7WMZp.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-D6mR9-tE.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
