<body>
    <table
      width="100%"
      height="100%"
      bgcolor="rgb(234, 236, 237)"
      class="main-body"
      id="isxg"
      style="box-sizing: border-box; min-height: 150px; width: 100%; height: 100%; background-color: rgb(234, 236, 237)"
    >
      <tbody id="icwv" style="box-sizing: border-box">
        <tr valign="top" class="row" id="il0f" style="box-sizing: border-box; vertical-align: top">
          <td width="362" class="main-body-cell" id="ikzn" style="box-sizing: border-box; width: 362px">
            <table
              width="90%"
              height="0"
              class="grapes-container"
              id="ii3z"
              style="
                box-sizing: border-box;
                font-family: Helvetica, serif;
                min-height: 150px;
                padding-top: 5px;
                padding-right: 5px;
                padding-bottom: 5px;
                padding-left: 5px;
                margin-top: auto;
                margin-right: auto;
                margin-bottom: auto;
                margin-left: auto;
                height: 0px;
                width: 90%;
                max-width: 550px;
              "
            >
              <tbody id="ixxql" style="box-sizing: border-box">
                <tr id="iibz3" style="box-sizing: border-box">
                  <td valign="top" class="grapes-container-cell" id="ihz5j" style="box-sizing: border-box; vertical-align: top; font-size: medium; padding-bottom: 50px">
                    <table bgcolor="#ffffff" image-block-content align="center" class="image-content" id="i4ab4" style="text-align: center; border-collapse: collapse; min-width: 100%; cursor: pointer; padding-block: 1rem;">
                      <tbody image-element cellpadding="0" cellspacing="0" id="i3cqz" style="box-sizing: border-box; width: auto; height: 100%">
                        <tr image-element cellpadding="0" cellspacing="0" id="iib2v" style="box-sizing: border-box; width: auto; height: 100%">
                          <td image-element height="100%" id="ixmyo" style="color: rgb(111, 119, 125); width: auto; height: 100%">
                              
  
                                  <svg style="margin-block: 1rem;" width="25%" id="Camada_1" viewBox="0 0 3241.3 2020.45">
                                      <defs>
                                        <style>
                                          .cls-1 {
                                            fill: #00aa11;
                                          }
                                        </style>
                                      </defs>
                                      <g>
                                        <path class="cls-1" d="M459.2,1521.91c-75.13-96.93-116.05-223.91-116.05-354.98s40.92-260.76,116.05-356.32c79.19-103.77,188.38-161.11,304.43-161.11s225.28,57.34,304.48,161.11c75.08,95.56,114.67,221.17,114.67,356.32s-39.6,258.04-114.67,354.98c-79.19,103.77-187.06,159.74-304.48,159.74s-225.23-55.96-304.43-159.74ZM541.09,1166.93c0,172.04,102.43,318.13,222.54,318.13s223.91-146.09,223.91-318.13-102.37-320.85-223.91-320.85-222.54,146.09-222.54,320.85Z"/>
                                        <path class="cls-1" d="M1821.94,1132.8c-101,109.24-188.38,223.91-277.13,342.7l232.09-1.37s32.79,2.72,36.85,65.55c5.49,62.8,6.81,124.23-36.85,133.79-45.04,12.28-495.6-6.84-495.6-6.84,0,0-21.86,2.75-23.23-45.04-1.37-35.51-5.44-96.93,2.75-126.98,81.94-132.44,188.43-248.49,304.48-368.63-80.57,0-161.14,1.35-240.33,2.72,0,0-32.73-2.72-38.22-65.52-5.44-64.17-10.88-140.62,32.79-152.93,25.92-5.46,462.82,15.02,490.16,24.58,35.48,5.46,29.99,180.22,12.25,197.96Z"/>
                                        <path class="cls-1" d="M2470.6,1294.99c-101,109.24-188.38,223.91-277.13,342.7l232.09-1.37s32.79,2.72,36.85,65.55c5.49,62.8,6.81,124.23-36.85,133.79-45.04,12.28-495.6-6.84-495.6-6.84,0,0-21.86,2.75-23.23-45.04-1.37-35.51-5.44-96.93,2.75-126.98,81.94-132.44,188.43-248.49,304.48-368.63-80.57,0-161.14,1.35-240.33,2.72,0,0-32.73-2.72-38.22-65.52-5.44-64.17-10.88-140.62,32.79-152.93,25.92-5.46,462.82,15.02,490.16,24.58,35.48,5.46,29.99,180.22,12.25,197.96Z"/>
                                        <path class="cls-1" d="M3239.42,968.97c4.07,689.47,2.75,744.09-16.37,804.15-36.9,116.07-124.28,214.35-263.51,240.3-88.75,15.02-196.61,8.18-285.37-42.32-72.33-40.97-36.85-210.26,51.9-195.24,80.51,30.04,271.69,72.36,304.43-83.29,12.3-61.43,2.75-146.09,5.49-215.73-64.2,71.01-146.09,90.12-223.91,73.73-214.35-46.41-263.51-253.93-247.14-454.63,4.12-46.41,9.56-92.84,15.05-136.53,0,0,12.3-39.6,62.78-36.85,49.15,2.72,146.09,2.72,144.72,42.32-6.81,87.38-27.3,182.94-13.62,274.41,27.3,234.84,259.39,120.17,267.57-69.61,2.75-113.33,5.49-188.4,5.49-188.4,0,0-5.49-58.71,43.66-62.8,50.53-2.75,146.09-10.93,148.83,50.5Z"/>
                                      </g>
                                      <path class="cls-1" d="M541.09,614.86s-216.07,55.95-250.79,407.06c-5.79,48.23-32.8,273.94-106.11,273.94-27.01-3.86-90.67-13.5-150.48-241.15-13.5-52.09-48.23-167.84-27.01-266.23,27.01-40.51,152.41-187.13,333.75-248.86,23.15-5.79,63.66-34.73,117.68,0,28.94,21.22,75.24,52.09,82.95,75.24Z"/>
                                      <path class="cls-1" d="M1011.35,659.58s59.24-263.38,431.04-305.71c51.07-7.05,290.08-39.98,290.08-129.34-4.09-32.92-14.3-110.53-255.36-183.43-55.16-16.46-177.73-58.79-281.91-32.92-42.9,32.92-198.16,185.78-263.53,406.84-6.13,28.22-36.77,77.6,0,143.45,22.47,35.27,55.16,91.71,79.67,101.12Z"/>
                                    </svg>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      width="100%"
                      height="150"
                      bgcolor="#ffffff"
                      id="i3y0y"
                      style="
                        background-color: #ffffff;
                        box-sizing: border-box;
                        border-collapse: collapse;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;
                        padding-top: 5px;
                        padding-right: 5px;
                        padding-bottom: 5px;
                        padding-left: 5px;
                      "
                    >
                      <tbody id="is5bi" style="box-sizing: border-box">
                        <tr id="i4r68" style="box-sizing: border-box">
                          <td
                            width="70%"
                            valign="middle"
                            height="114"
                            id="il8la"
                            style="
                              box-sizing: border-box;
                              color: rgb(111, 119, 125);
                              font-size: 13px;
                              line-height: 20px;
                              padding-top: 10px;
                              padding-right: 20px;
                              padding-bottom: 0px;
                              padding-left: 20px;
                              vertical-align: middle;
                            "
                          >
                            <p class="texto" id="iwrqn" style="text-align: center; max-width: 80%; margin: auto; font-weight: 700; font-size: 16px; color: #000000; font-family: Poppins, Roboto, Sans-serif, 'Helvetica Neue', Arial">
                              Olá {{ nome }}, é uma pena você ter esquecido sua senha, mas não se preocupe 😉
                            </p>
                            <p class="texto" id="i64fj" style="font-size: 16px; color: black; text-align: center; font-family: Poppins, Roboto, Sans-serif, 'Helvetica Neue', Arial">
                              Para alterar sua senha clique no botão abaixo:
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      width="100%"
                      bgcolor="#ffffff"
                      id="iwkkg"
                      style="
                        background-color: #ffffff;
                        box-sizing: border-box;
                        border-collapse: collapse;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;
                        padding-top: 5px;
                        padding-right: 5px;
                        padding-bottom: 5px;
                        padding-left: 5px;
                        width: 100%;
                      "
                    >
                      <tbody id="ignkj" style="box-sizing: border-box"></tbody>
                    </table>
                    <table
                      width="100%"
                      bgcolor="#ffffff"
                      id="izf9o"
                      style="
                        background-color: #ffffff;
                        box-sizing: border-box;
                        border-collapse: collapse;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;
                        padding-top: 5px;
                        padding-right: 5px;
                        padding-bottom: 5px;
                        padding-left: 5px;
                        width: 100%;
                      "
                    >
                      <tbody id="iax3j" style="box-sizing: border-box">
                        <tr id="ijfgl" style="box-sizing: border-box">
                          <td
                            width="100%"
                            height="61"
                            align="center"
                            id="ired7"
                            style="box-sizing: border-box; width: 100%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; height: 61px; text-align: center"
                          >
                            <a
                              href="{{ url }}"
                              title="Criar minha senha"
                              class="button"
                              id="ig95f"
                              style="
                                text-decoration-line: none;
                                text-decoration-thickness: initial;
                                text-decoration-style: initial;
                                text-decoration-color: initial;
                                max-width: 100%;
                                background-image: initial;
                                background-position-x: initial;
                                background-position-y: initial;
                                background-size: initial;
                                background-repeat: initial;
                                background-attachment: initial;
                                background-origin: initial;
                                background-clip: initial;
                                display: inline-block;
                                box-shadow: rgba(0, 0, 0, 0.3) 0px 2.5px 3px 0px;
                                padding-top: 9px;
                                padding-right: 9px;
                                padding-bottom: 9px;
                                padding-left: 9px;
                                border-top-left-radius: 4px;
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                font-size: 15px;
                                font-weight: 700;
                                color: #ffffff;
                                text-align: center;
                                border-radius: 30px;
                                background-color: #00aa11;
                                font-family: Poppins, Roboto, Sans-serif, 'Helvetica Neue', Arial;
                              "
                              ><p
                                link-content
                                class="title"
                                id="iqgdd"
                                style="
                                  margin-top: 0px;
                                  margin-right: 0px;
                                  margin-bottom: 0px;
                                  margin-left: 0px;
                                  padding-top: 0px;
                                  padding-right: 9px;
                                  padding-bottom: 0px;
                                  padding-left: 9px;
                                  font-family: Poppins, Roboto, Sans-serif, 'Helvetica Neue', Arial;
                                "
                              >
                                Alterar minha senha
                              </p></a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      width="100%"
                      bgcolor="#ffffff"
                      id="ik0x9"
                      style="
                        background-color: #ffffff;
                        box-sizing: border-box;
                        border-collapse: collapse;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;
                        padding-top: 5px;
                        padding-right: 5px;
                        padding-bottom: 5px;
                        padding-left: 5px;
                        width: 100%;
                      "
                    >
                      <tbody id="i4ifi" style="box-sizing: border-box">
                        <tr id="iq2vv" style="box-sizing: border-box">
                          <td
                            width="70%"
                            id="iqo9j"
                            style="
                              box-sizing: border-box;
                              width: 70%;
                              color: rgb(111, 119, 125);
                              font-size: 13px;
                              line-height: 20px;
                              padding-top: 0px;
                              padding-right: 20px;
                              padding-bottom: 10px;
                              padding-left: 20px;
                            "
                          ><br>
                            <p class="texto" id="i0nl2" style="text-align: center; font-size: 16px; color: #000000; font-family: Poppins, Roboto, Sans-serif, 'Helvetica Neue', Arial">
                              Se você não solicitou alteração de senha,<br> por favor, ignore este e-mail.<br draggable="true" /><br draggable="true" />
                              Abraços, Equipe Ozzy.
                            </p><br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" id="ip7hu" style="width: 100%; margin-top: 10px; margin-bottom: 10px">
                      <tbody>
                        <tr class="row">
                          <td class="cell"></td>
                        </tr>
                      </tbody>
                    </table>
                    <div
                      id="rodape-rubeus"
                      rodape="true"
                      style="
                        padding: 10px 0;
                        margin: 0;
                        color: #a39d9d;
                        font-weight: 700;
                        font-size: 10px;
                        line-height: 13px;
                        line-height: 13px;
                        text-align: center;
                        letter-spacing: -0.065em;
                        font-family: Poppins, Roboto, Sans-serif, 'Helvetica Neue', Arial;
                      "
                    >
                      <span rodape-item="true" id="i6az8" style="font-family: Poppins, Roboto, Sans-serif, 'Helvetica Neue', Arial"> Enviado por 
                          <span rodape-item="true" id="ieaxh" style="font-weight: bold; font-family: Poppins, Roboto, Sans-serif, 'Helvetica Neue', Arial">Equipe Ozzy</span>
                      </span>
                      <div class="texto" id="i8gzj" style="font-family: Poppins, Roboto, Sans-serif, 'Helvetica Neue', Arial"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
  